<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<body>
<hr>
<a href="{% url 'add' %}" class="btn btn-primary">Add image</a>
{% for i in result %}
<div class="col-md-3">
<div class="card" style="width: 20rem;height:28rem;margin:.5rem;">
  <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="400px" height="250px">
  <div class="card-body">
    <h3 class="card-title">{{i.name}}</h3>
    <p class="card-text">{{i.desc}}</p>

  </div>
</div>
</div>
{% endfor %}

</body>
</html>